@{
    ViewData["Title"] = "Chat";
}

@model KCASM_AppWeb.Models.ForView.Chat

<h2>Chat con @Model.Name @Model.Surname</h2>

@{
    if (Model.MessageList.Count != 0)
    {
        foreach (KCASM_AppWeb.Models.ForApi.MessageMedicPatient message in Model.MessageList)
        {

            if (message.Medic_sender)
            {
                <div class="container_box" style="margin-right: 15%;">
                    <h3> @message.Subject </h3>
                    <p> @message.Message </p>
                    <span class="time-left"> @message.Timedate </span>
                    @if (ViewData["Session"].Equals("Patient") && !message.Read)
                    {
                        <button style="float: right;" onclick="location.href='@Url.Action("ReadMessage", "Message", new { senderId = Model.Id, timedate = message.Timedate, name = Model.Name, surname = Model.Surname })'"> Leggi </button>
                    } 
                </div>
            }
            else
            {
                <div class="container_box darker" style="margin-left: 15%;">
                    <h3> @message.Subject </h3>
                    <p> @message.Message </p>
                    <span class="time-right"> @message.Timedate </span>
                    @if (ViewData["Session"].Equals("Medic") && !message.Read)
                    {
                        <button style="float: left;" onclick="location.href='@Url.Action("ReadMessage", "Message", new { senderId = Model.Id, timedate = message.Timedate, name = Model.Name, surname = Model.Surname })'"> Leggi </button>
                    }
                </div>
            }
        }
    }
    else
    {
        <h2>Non ci sono ancora messaggi</h2>
    }
}

<center>
<fieldset>
    <legend>Nuovo messaggio</legend>
    <form method="post" action="/Message/NewMessage">
        <div class="form-group">
            <div class="row">
                <label>Oggetto</label>
            </div>
            <div class="row">
                <input type="text" name="subject" placeholder="Oggetto" required />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label>Messaggio</label>
            </div>
            <div class="row">
                <textarea name="message" placeholder="Messaggio... (max 500 caratteri)" rows="6" cols="135" maxlength="500" required style="resize: none;"></textarea>
            </div>
        </div>
            @Html.Hidden("id_receiver", Model.Id)
            @Html.Hidden("name", Model.Name)
            @Html.Hidden("surname", Model.Surname)
        <div class="form-group">
             <input class="btn btn-primary row" type="submit" value="Invia" />
        </div>
    </form>
</fieldset>
</center>


<style>
    /* Chat containers */
    .container_box {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
        text-align: right;
        border-color: #ccc;
        background-color: #ddd;
    }

    /* Clear floats */
    .container_box::after {
    content: "";
    clear: both;
    display: table;
}
    

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }
</style>