@{
    ViewData["Title"] = "Medic";
}

@model KCASM_AppWeb.Models.ForView.Medic

<h2>Medic</h2>

<div>
    <fieldset style="margin-top: 2em">

        <legend>Dati Anagrafici</legend>
        <form id="form_settings" method="post" action="/Medic/Update">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Nome</label>
                        <input class="form-control" type="text" name="name" value="@Model.Name" placeholder="@Model.Name" required />
                        <label>Cognome</label>
                        <input class="form-control" type="text" name="surname" value="@Model.Surname" placeholder="@Model.Surname" required />
                        <label>Età</label>
                        <input class="form-control" type="number" name="age" value="@Model.Age" placeholder="@Model.Age" required min="18" max="60" />
                        <label>Numero di telefono</label>
                        <input class="form-control" type="text" name="phone" value="@Model.Phone" placeholder="@Model.Phone" required />
                        <label>Indirizzo dello studio</label>
                        <input class="form-control" type="text" name="home_address" value="@Model.Address" placeholder="@Model.Address" required />
                        <label>Sistema di notifiche</label>
                        <div class="col-md-2">
                            Email <input type="checkbox" name="email_notify" value="@Model.Email_notify" />
                            SMS <input type="checkbox" name="sms_notify" value="@Model.Sms_notify" />
                        </div>
                        <p>Specializzazione: @Model.Specialization</p>
                    </div>
                </div>
                <div class="col-md-1">
                    <input class="btn btn-primary" type="submit" value="Aggiorna dati" />
                </div>
            </div>
        </form>

        <legend>Dati Accesso</legend>
        <form id="form_settings" method="post" action="/Medic/UpdateLogin">
            <div class="row">
                <label>Indirizzo email</label>
                <input class="form-control" type="email" name="email" value="@Model.Email" placeholder="@Model.Email" required />
                <label>Nuova Password</label>
                <input class="form-control" type="email" name="new_password" value="" placeholder="" required />
                <label>Conferma Nuova Password</label>
                <input class="form-control" type="email" name="new_password2" value="" placeholder="" required />
                <label>Reinserisci Vecchia Password</label>
                <input class="form-control" type="email" name="old_password" value="" placeholder="" required />
            </div>
        </form> 

            <!-- possibile form di selezione paziente -->

            <p style="font: 30px sans-serif; margin-top: 1.5em;">Elenco di tutte le pazienti</p>
            <div id="medic"></div>
            <script>
                $(document).ready(function () {
                    $("#medic").kendoGrid({
                        dataSource: {
                            data: @Model.Patients,
                            schema: {
                                model: {
                                    fields: {
                                        name: { type: "string" },
                                        surname: { type: "string" },
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        height: "30em",
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "name",
                            title: "Nome"
                        }, {
                            field: "surname",
                            title: "Cognome"
                        }]
                    });
                });
            </script>

