@model KCASM_AppWeb.Models.Medic;

<h2>Impostazioni</h2>

@if (Model != null)
{
    <fieldset style="margin-top: 2em">
        <legend>Profilo</legend>
        <form id="form_settings" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username" value="@Model.Username" placeholder="@Model.Username" required />
                        <label>Email</label>
                        <input class="form-control" type="email" name="email" value="@Model.Email" placeholder="@Model.Email" required />
                        <label>Nome</label>
                        <input class="form-control" type="text" name="name" value="@Model.Name" placeholder="@Model.Name" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <input class="btn btn-primary" type="submit" value="Aggiorna dati" />
                    </div>
                </div>
            </div>
        </form>
        <p class="error-message">@ViewData["Message"]</p>
    </fieldset>


    <fieldset style="margin-top:5em;">
        <legend>Cambio Password</legend>
        <form id="form_settings_password" method="post" action="/Medic/SettingsPassword">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Vecchia password</label>
                        <input class="form-control" type="password" name="old_password" placeholder="vecchia password" required />
                    </div>
                    <div class="col-md-3">
                        <label>Nuova password</label>
                        <input class="form-control" type="password" name="new_password" placeholder="nuova password" minlength="3" required />
                    </div>
                    <div class="col-md-3">
                        <label>Conferma nuova password</label>
                        <input class="form-control" type="password" name="new_password2" placeholder="riscrivi la nuova password" minlength="3" required />
                    </div>
                    <div class="col-md-3" style="margin-top:1.73em">
                        <input class="btn btn-primary" type="submit" value="Cambia password" />
                    </div>
                </div>
            </div>
        </form>
        <p class="error-message">@ViewData["Password"]</p>
    </fieldset>
}
else
{
    <p class="error-message">Si è verificato un errore. Riprova più tardi</p>
}