@{
    ViewData["Title"] = "Weight";
}

<h2>Weight</h2>

@model KCASM_AppWeb.Models.ForView.Weights

@if (ViewData["Session"].Equals("Patient"))
{
<fieldset style="margin-top: 2em; margin-bottom: 2em;">
    <legend>Aggiungi il peso odierno</legend>
    <form id="form_details" method="post" action="/Weight/NewWeight">
        <div class="form-group">
            <div class="col-md-3">
                <label>Nuovo Peso</label>
                <input type="number" step="0.01" name="weight" placeholder="nuovo peso" required />
            </div>
            <div class="col-md-2">
                <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiungi" />
            </div>
        </div>
    </form>
</fieldset>
}

<div id="pesi"> </div> <br />
<script>
    function createChart() {
        $("#pesi").kendoChart({
            title: {
                text: "Pesi",
                font: "30px sans-serif",
                color: "black"
            },
            legend: {
                position: "bottom"
            },
            seriesDefaults: {
                type: "line",
                style: "smooth"
            },
            series: [{
                name: "Pesi",
                data: @Json.Serialize(Model.Weight),
                markers: {
                    visible: false
                }
            }, {
                name: "Limite superiore",
                    data: @Json.Serialize(Model.UpperThreshold),
                    markers: {
                        visible: false
                    }
            }, {
                name: "Limite inferiore",
                    data: @Json.Serialize(Model.LowerThreshold),
                    markers: {
                        visible: false
                    }
            }],
            valueAxis: {
                labels: {
                    format: "{0}"
                },
                line: {
                    visible: false
                },
                min: @Json.Serialize(Model.Min),
                max: @Json.Serialize(Model.Max)
            },
            categoryAxis: {
                categories: @Json.Serialize(Model.Date),
                majorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: true,
                format: "{0}",
                template: "#= series.name #: #= value #"
            }
        });
    }

    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
</script>