@{
    ViewData["Title"] = "Tasks";
}

@model KCASM_AppWeb.Models.ForView.Tasks

<h2>Elenco di tutti i task</h2>
<div style="margin-top: 2em" id="tasks"></div>
<script>
                $(document).ready(function () {
                    $("#tasks").kendoGrid({
                        dataSource: {
                            data: @Json.Serialize(Model.TaskList),
                            schema: {
                                model: {
                                    fields: {
                                        id: { from: "id", type: "number" },
                                        tipo: { from: "type", type: "string" },
                                        medic_id: { from: "medic_id", type: "number" },
                                        date: { from: "date", type: "string" },
                                        category: { from: "category", type: "string" },
                                        description: { from: "description", type: "string" },
                                        starting_program: { from: "starting_program", type: "boolean" },
                                        executed: { from: "executed", type: "boolean" }
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        height: "50em",
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "id",
                            title: "Id"
                        }, {
                            field: "tipo",
                            title: "Tipo"
                            } , {
                                field: "medic_id",
                                title: "Id Medico"
                            }, {
                                field: "date",
                                title: "Data"
                            }, {
                                field: "category",
                                title: "Categoria"
                            }, {
                                field: "description",
                                title: "Descrizione"
                            }, {
                                field: "starting_program",
                                title: "Inizio Programma"
                            }, {
                                field: "executed",
                                title: "Eseguito"
                            }, { command: { text: "Elimina Task", click: function (e) {
                                                e.preventDefault();
                                var data = this.dataItem($(e.target).closest("tr"));
                                if (data.medic_id == @ViewData["MedicID"])
                                    window.location.href = '@Url.Action("DeleteTask", "Tasks")?id=' + data.id + '&type=' + data.tipo;
                                else
                                    alert("Non puoi eliminare un task che non hai creato tu");
                                    }
                                        }
                                , title: " "
                            }]
                    });
                });
</script>

@{

    List<SelectListItem> listItemsGenerali = new List<SelectListItem>();
    foreach (String s in Model.CategoryTask.General)
    {
        listItemsGenerali.Add(new SelectListItem { Text = s, Value = s });
    }

    List<SelectListItem> listItemsAttivita = new List<SelectListItem>();
    foreach (String s in Model.CategoryTask.Activities)
    {
        listItemsAttivita.Add(new SelectListItem { Text = s, Value = s });
    }

    List<SelectListItem> listItemsDiete = new List<SelectListItem>();
    foreach (String s in Model.CategoryTask.Diets)
    {
        listItemsDiete.Add(new SelectListItem { Text = s, Value = s });
    }

    List<SelectListItem> listItemsIDGenerali = new List<SelectListItem>();
    List<SelectListItem> listItemsIDAttivita = new List<SelectListItem>();
    List<SelectListItem> listItemsIDDiete = new List<SelectListItem>();

    foreach (KCASM_AppWeb.Models.ForView.Task t in Model.TaskList)
    {
        switch (t.Type)
        {
            case "Generali": listItemsIDGenerali.Add(new SelectListItem { Text = Convert.ToString(t.Id), Value = Convert.ToString(t.Id) }); break;
            case "Attività": listItemsIDAttivita.Add(new SelectListItem { Text = Convert.ToString(t.Id), Value = Convert.ToString(t.Id) }); break;
            case "Diete": listItemsIDDiete.Add(new SelectListItem { Text = Convert.ToString(t.Id), Value = Convert.ToString(t.Id) }); break;
        }

    }

    }


<div class="container">
    <div class="row">
        <h2> Attività </h2>
        <div class="col-sm-6">
            <fieldset>
                <legend>Aggiorna attività</legend>
                <form id="form_details" method="post" action="/Tasks/UpdateAllActivities">
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("id", new SelectList(listItemsIDAttivita, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data</label>
                            <div class="col-sm-5">
                                <input  class="form-control" type="date" name="date" placeholder="data" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("category", new SelectList(listItemsAttivita, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descrizione</label>
                            <div class="col-sm-5">
                                <input  class="form-control" type="text" name="description" placeholder="descrizione" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Inizio Programma</label>
                            <div class="col-sm-2">
                                <input style="width: 2em; height: 2em;" class="form-check-input" type="checkbox" name="starting_program" value="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiorna" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Aggiungi attività</legend>
                <form id="form_details" method="post" action="/Tasks/NewTaskActivities">
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" name="date" placeholder="data" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("category", new SelectList(listItemsAttivita, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descrizione</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" name="description" placeholder="descrizione" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Inizio Programma</label>
                            <div class="col-sm-2">
                                <input style="width: 2em; height: 2em;" class="form-check-input" type="checkbox" name="starting_program" value="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiungi" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <h2>Generali</h2>
        <div class="col-sm-6">
            <fieldset>
                <legend>Aggiorna generali</legend>
                <form id="form_details" method="post" action="/Tasks/UpdateAllGeneral">
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("id", new SelectList(listItemsIDGenerali, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" name="date" placeholder="data" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("category", new SelectList(listItemsGenerali, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descrizione</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" name="description" placeholder="descrizione" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Inizio Programma</label>
                            <div class="col-sm-2">
                                <input style="width: 2em; height: 2em;" class="form-check-input" type="checkbox" name="starting_program" value="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiorna" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Aggiungi generali</legend>
                <form id="form_details" method="post" action="/Tasks/NewTaskGeneral">
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" name="date" placeholder="data" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("category", new SelectList(listItemsGenerali, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descrizione</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" name="description" placeholder="descrizione" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Inizio Programma</label>
                            <div class="col-sm-2">
                                <input style="width: 2em; height: 2em;" class="form-check-input" type="checkbox" name="starting_program" value="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiungi" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <h2> Diete </h2>
        <div class="col-sm-6">
            <fieldset>
                <legend>Aggiorna dieta</legend>
                <form id="form_details" method="post" action="/Tasks/UpdateAllDiets">
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Id</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("id", new SelectList(listItemsIDDiete, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" name="date" placeholder="data" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("category", new SelectList(listItemsDiete, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descrizione</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" name="description" placeholder="descrizione" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Inizio Programma</label>
                            <div class="col-sm-2">
                                <input style="width: 2em; height: 2em;" class="form-check-input" type="checkbox" name="starting_program" value="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiorna" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <fieldset>
                <legend>Aggiungi dieta</legend>
                <form id="form_details" method="post" action="/Tasks/NewTaskDiets">
                    <div class="form-group">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Data</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="date" name="date" placeholder="data" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Categoria</label>
                            <div class="col-sm-3">
                                @Html.DropDownList("category", new SelectList(listItemsDiete, "Value", "Text"))
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descrizione</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" name="description" placeholder="descrizione" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Inizio Programma</label>
                            <div class="col-sm-2">
                                <input style="width: 2em; height: 2em;" class="form-check-input" type="checkbox" name="starting_program" value="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <input style="margin-top: 1.73em" class="btn btn-primary" type="submit" value="Aggiungi" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>