@{
    ViewData["Title"] = "Patient";
}

@model KCASM_AppWeb.Models.ForView.Patient

<h2>Patient</h2>

<!-- possibile form di selezione medico -->

<p style="font: 30px sans-serif; margin-top: 1.5em;">Elenco di tutti i medici</p>
    <div id="medic"></div>
        <script>
                $(document).ready(function () {
                    $("#medic").kendoGrid({
                        dataSource: {
                            data: @Model.Medics,
                            schema: {
                                model: {
                                    fields: {
                                        name: { type: "string" },
                                        surname: { type: "string" },
                                        specialization: { type: "string" },
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        height: "30em",
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "name",
                            title: "Nome"
                        }, {
                            field: "surname",
                            title: "Cognome"
                        }, {
                            field: "specialization",
                            title: "Specializzazione",
                        }]
                    });
                });
        </script>

    <div id="editable_patient_data">
            <fieldset style="margin-top: 2em">
                <legend>Profilo</legend>
                <form id="form_settings" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nome</label>
                                <input class="form-control" type="text" name="name" value="@Model.Name" placeholder="@Model.Name" required />
                                <label>Cognome</label>
                                <input class="form-control" type="text" name="surname" value="@Model.Surname" placeholder="@Model.Surname" required />
                                <label>Numero di telefono</label>
                                <input class="form-control" type="text" name="phone" value="@Model.Phone" placeholder="@Model.Phone" required />
                                <label>Indirizzo email</label>
                                <input class="form-control" type="email" name="email" value="@Model.Email" placeholder="@Model.Email" required />
                                <label>Indirizzo di casa</label>
                                <input class="form-control" type="text" name="home_address" value="@Model.Address_home" placeholder="@Model.Address_home" required />
                                <label>Indirizzo dell'ospedale</label>
                                <input class="form-control" type="text" name="hospital_address" value="@Model.Address_hospital" placeholder="@Model.Address_hospital" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Età</label>
                                <input class="form-control" type="number" name="age" value="@Model.Age" placeholder="@Model.Age" required min="18" max="60" />
                            </div>
                            <div class="col-md-2">
                                <label>Altezza</label>
                                <input class="form-control" type="number" name="height" value="@Model.Height" placeholder="@Model.Height" required min="120" max="250" />
                            </div>
                            <div>
                                <label>Sistema di notifiche</label>
                                Email <input type="checkbox" name="email_notify" value="@Model.Email_notify" />
                                SMS <input type="checkbox" name="sms_notify" value="@Model.Sms_notify" />
                            </div>
                            <div>
                                <label>Parto gemellare</label>
                                <input class="view-mode" type="checkbox" name="twin" value="@Model.Twin"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <input class="btn btn-primary" type="submit" value="Aggiorna dati" />
                            </div>
                        </div>
                    </div>
                </form>
                <p class="error-message"></p>
            </fieldset>
    </div>

    <div id="initial_patient_data">
        <p>Data d'inizio gravidanza: @Model.Pregnancy_start_date</p><br />
        <p>Peso iniziale: @Model.Weight</p><br />
        <p>Indice di massa corporea (BMI): @Model.Bmi</p><br />
    </div>