@{
    ViewData["Title"] = "Paziente";
}

@model KCASM_AppWeb.Models.ForView.Patient

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <fieldset style="margin-top: 2em">
                <legend class="col-form-label">Dati anagrafici</legend>
                <form id="form_anagrafica" method="post" action="/Patient/Update">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Nome</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="name" value="@Model.Name" placeholder="@Model.Name" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Cognome</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="surname" value="@Model.Surname" placeholder="@Model.Surname" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Età</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" type="number" name="age" value="@Model.Age" placeholder="@Model.Age" min="18" max="60" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Numero di telefono</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="phone" value="@Model.Phone" placeholder="@Model.Phone" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Indirizzo di casa</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="home_address" value="@Model.Address_home" placeholder="@Model.Address_home" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <label>Indirizzo dell'ospedale</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="hospital_address" value="@Model.Address_hospital" placeholder="@Model.Address_hospital" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-5 col-form-label">Sistema di notifiche</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    @if (Model.Email_notify)
                                    {
                                        <input class="form-check-input" type="checkbox" name="email_notify" value="true" checked />
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" name="email_notify" value="true" />
                                    }
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <label class="col-sm-2 col-form-label">SMS</label>
                                    @if (Model.Sms_notify)
                                    {
                                        <input class="form-check-input" type="checkbox" name="sms_notify" value="true" checked />
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" name="sms_notify" value="true" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class=" form-group row">
                            @if (ViewData["Session"].Equals("Patient"))
                            {
                                <div class="col-md-2">
                                    <input class="btn btn-primary" type="submit" value="Aggiorna dati" />
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col">
            <fieldset style="margin-top: 2em">
                <legend>Dati iniziali</legend>
                <form id="form_login" method="post" action="/Patient/UpdateInitial">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label>Data d'inizio gravidanza</label>
                        </div>
                        <div class="col-md-4">
                            <p>@Model.Pregnancy_start_date</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label>Altezza</label>
                        </div>
                        <div class="col-md-4">
                            <p>@Model.Height</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label>Peso iniziale</label>
                        </div>
                        <div class="col-md-4">
                            <p>@Model.Weight</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label>Indice di massa corporea (BMI)</label>
                        </div>
                        <div class="col-md-4">
                            <p>@Model.Bmi</p>
                        </div>
                    </div>
                    
                    
                    @if (ViewData["Session"].Equals("MedicPatient"))
                    {
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label>Parto gemellare</label>
                            </div>
                            <div class="col-md-4">
                                @if (Model.Twin)
                                {
                                    <input class="form-check-input" type="checkbox" name="twin" value="true" checked />
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" name="twin" value="true" />
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <input class="btn btn-primary" type="submit" value="Aggiorna dati" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <div class="col-md-8">
                                <label>Parto gemellare</label>
                            </div>
                            <div class="col-md-4">
                                @if (Model.Twin)
                                {
                                    <p>Si</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
                            </div>
                        </div>
                    }
                </form>
            </fieldset>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group">
        <div id="dati_login">
            <fieldset style="margin-top: 2em">
                <legend>Dati di accesso</legend>
                @if (ViewData["Session"].Equals("Patient"))
                {
                <form id="form_login" method="post" action="/Patient/UpdateLogin">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                <label>Indirizzo email</label>
                            </div>
                            <div class="col-md-5">
                                <label>Vecchia password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control" type="email" name="email" value="@Model.Email" placeholder="@Model.Email" required />
                            </div>
                            <div class="col-md-5">
                                <input class="form-control" type="password" name="old_password" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                <label>Nuova password</label>
                            </div>
                            <div class="col-md-5">
                                <label>Conferma nuova password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <input class="form-control" type="password" name="new_password" />
                            </div>
                            <div class="col-md-5">
                                <input class="form-control" type="password" name="new_password2" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        @if (ViewData["Session"].Equals("Patient"))
                        {
                            <div class="col-md-1">
                                <input class="btn btn-primary" type="submit" value="Aggiorna dati" />
                            </div>
                        }
                    </div>
                </form>
                }
                else
                {
                    <p>Email: @Model.Email</p>
                }
            </fieldset>
        </div>
    </div>
</div>

    <h2>Elenco di tutti i medici</h2>
    <div id="medic"></div>
    <script>
                $(document).ready(function () {
                    $("#medic").kendoGrid({
                        dataSource: {
                            data: @Json.Serialize(Model.Medics),
                            schema: {
                                model: {
                                    fields: {
                                        name: { type: "string" },
                                        surname: { type: "string" },
                                        specialization: { type: "string" },
                                    }
                                }
                            },
                            pageSize: 10
                        },
                        height: "30em",
                        groupable: false,
                        sortable: true,
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        columns: [{
                            field: "name",
                            title: "Nome"
                        }, {
                            field: "surname",
                            title: "Cognome"
                        }, {
                            field: "specialization",
                            title: "Specializzazione",
                        }]
                    });
                });
    </script>
